* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.head {
    background-color: #1F2235;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 100px;

}

#logo {
    width: 130px;   
}

#navbar > ul {
    margin-left: 100px;
    
}

.links {
    padding: 20px;
    display: inline;
}

.links a {
    text-decoration: none;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    cursor: pointer;
}

.links a:hover {
    color: #FF4A57;
}

#sect-1 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #24263B;
    color: white;
    padding: 50px 100px;
}

#main-1 {
    margin-right: 50px;
    margin-top: 100px;
    
}

.btns {
    background-color: #24263B;
    color: #ffffff;
    padding: 10px;
    border-radius: 50%;
    margin-right: 15px;
    border: 2px solid #FF4A57;
    font-size: 18px;
    cursor: pointer; 
    font-family: 'Roboto', sans-serif;
}

.btns:hover{
    background-color: #FF4A57;
}

.heading-1 {
    margin-top: 30px;
    font-family: 'Roboto', sans-serif;
    font-size: 50px;
    font-weight: 50px;
}

p {
    margin-top: 20px;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    font-weight:bold
    
}

.port {background-color: #24263B;
color: #ffffff;
text-align: center;
border-radius: 15% / 50%;
margin-top: 50px;
border: 2px solid #FF4A57;
font-size: 18px;
height: 50px;
width: 150px;
cursor: pointer;
font-family: 'Roboto', sans-serif;
}

.port:hover {
    background-color: #FF4A57;
}

#youtube {
    background-color: #FF4A57;
    color: #ffffff;
    border-radius: 30% / 50%;
    margin: 50px 25px;
    border: 2px solid #FF4A57;
    height: 50px;
    width: 90px;
    cursor: pointer;
    font-family: 'Roboto', sans-serif;
}

#youtube:hover {
    background-color: #FF4A57;
}

#main-2 {
    margin-right: 100px;
}

.pic {
    width: 30%;
    height: 30%;
    margin-left: 600px;
}